{% extends 'service/base.html' %}
{% block title %}Reset your password{% endblock %}
{% block body_block %}
<style>

    ul{
        list-style: none;
        color: tomato;
    }
    .inneru{
        width: 50%;
    }

    @media (max-width:990px){
        form{
            width: 80%;
        }
        .inneru{
        width: 100%;
    }
    }
</style>
<h1>Forgot your password?</h1>


<form class="pure-form pure-form-stacked" action="." method="POST" style="width: 80%;" > 
    <p>Enter your e-mail address to obtain a new password.</p>
    {% csrf_token %}
    <fieldset style="display: flex;flex-direction: column;">
        <div class="pure-control-group" style="display: flex; flex-direction: column;">
            {{ form.as_p }}
        </div>
        <br>
        <div style="width: 100%; display: flex; justify-content: center; align-items: center;">

        
        <div style="width: 50%;" >
            <input type="submit" value="Send e-mail" class="pure-button pure-button-primary" style="background-color:#04aa8b; border-radius:5px ;">
        </div>
    </div>
    </div> 
    </fieldset>

</form>
{% endblock %}