{% extends 'service/base.html' %}
{% block title %}Reset your password{% endblock %}
{% block body_block %}
<h1>Reset your password</h1>
{% if validlink %}
<style>
    ul{
        list-style: none;
        font-size: 15px;
    }
    .errorlist{
        list-style: none;
        font-size: 15px;
        color: tomato;
    }
</style>




<form class="pure-form pure-form-stacked" action="." method="POST" style="width: 80%;" > 
    {% csrf_token %}
    <fieldset style="display: flex;flex-direction: column;">
        <div class="pure-control-group" style="display: flex; flex-direction: column;">
            <label for="id_new_password1" style="width: 100px;">New password</label>
            {{ form.new_password1}}
        </div>
        <div class="pure-control-group" style="display: flex; flex-direction: column;">
            <label for="id_new_password1" style="width: 200px;">New password confirmation</label>
            {{ form.new_password2}}
        </div>

        <div style="color: tomato;">
            {% if form.errors %}
      {% for field in form %}

           {% for error in field.errors %}
                {{ error|escape }}
           {% endfor %}

         {% endfor %}
    {% endif %}
        </div>
        <br>
        <div style="display: flex; flex-direction: row; justify-content: space-around;"  >
            <input type="submit" value="Change my password" width="80%"class="pure-button pure-button-primary" style="background-color:#04aa8b;">
        </div>
        <br>
        <br>
        <div>
            <ul>
                <li>Your password can’t be too similar to your other personal information.</li>
                <li>Your password must contain at least 9 characters.</li>
                <li>Your password can’t be a commonly used password.</li>
                <li>Your password can’t be entirely numeric.</li>
            </ul>
        </div>
    </div> 
    </fieldset>
</form>

{% else %}
<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
{% endif %}
{% endblock %}